
/*
** MainContent =================================================================
*/

.MainContent {
	background: var(--bg-color-1);
	padding: 15px 25px 80px;
	position: fixed;
	z-index: 1;
	top: 60px;
	left: 200px;
	right: 0;
	bottom: 0;

	overflow-y: auto;
	transition: .1s;
}

@media (min-width: 1200px) { .MainContent { padding: 15px 50px 80px; }}

@media (min-width: 1500px) { .MainContent { padding: 15px 100px 80px; }}

@media (min-width: 1800px) { .MainContent { padding: 15px 150px 80px; }}

@media (min-width: 2100px) { .MainContent { padding: 15px 200px 80px; }}

@media (max-width: 1000px) { .MainContent { left: 66px; }}

@media (max-width: 640px) { .MainContent { left: 0; bottom: 62px; }}

/*
** Spinner =====================================================================
*/

.Spinner {
	display: flex;
	justify-content: center;
	height: 80px;
}

.Spinner > img {
	width: 50px;
	animation:
		spin .8s ease-in-out infinite,
		fadein 1s ease-in-out,
		glow alternate ease-in-out .8s infinite;
}

@keyframes spin
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(180deg); }
}

@keyframes fadein
{
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes glow
{
	0% { filter: drop-shadow(0 0 8px #fff6); }
	100% { filter: brightness(2) (0 0 8px #ffff); }
}

/*
** GenericList =================================================================
*/

.genericList {
	background: var(--bg-color-3);
	border: 1px solid var(--bg-color-5);
	padding: 0px;
	margin: 0px;
	border-radius: 7px;
	overflow-x: auto;
	box-shadow: 0 0 8px -3px #0008;
	font-size: .92rem;
}

.genericList > * {
	margin: 0px;
	border: 2px solid #0000;
	animation: fadein .15s ease-in-out;
	background: var(--bg-color-4);
	border-radius: 0px;
	color: var(--text-normal);
	overflow-x: visible;
	min-width: fit-content;
	transition: filter .1s, color .2s, text-shadow .2s, border .2s;
}

.genericListHead {
	border-bottom: 1px solid var(--text-faint);
}
.genericListHead>* {
	font-weight: bold;
}

.genericList > *:nth-child(odd) {
	background: var(--bg-color-3);
}

.genericList > *:first-child {
	border-radius: 7px 7px 0 0;
}

.genericList > *:last-child {
	border-radius: 0 0 7px 7px;
}

.genericList > *:first-child:last-child {
	border-radius: 7px;
}

.genericList > *.clickable:hover, .genericList > * > *.clickable:hover {
	border: 2px solid var(--text-faint);

	filter: brightness(1.1) saturate(1.4);
	cursor: pointer;
	color: var(--text-accent);
	text-shadow: 0 0 6px #fff4;
}

.genericList > *.clickable:active, .genericList > * > *.clickable:active {
	filter: none;
}

.genericList > * > * {
	border: 2px solid #0000;
	margin: -1px;
	padding: 6px;
	z-index: 50;
}
.genericList > * > *:first-child {
	border-radius: 7px 0 0 7px;
}
.genericList > * > *:last-child {
	border-radius: 0 7px 7px 0;
}