.Play__Canvas {
	width: 100%;
	object-fit: contain;
	box-sizing: border-box;
	box-shadow: 0 0 12px #000a;
	margin-top: 2em;
}

.Play__JoinQueueButton {
	display:flex;
	justify-content: center;
	align-items: center;

	padding: 15px 30px;
  	font-size: 2rem;
	margin: 5px auto 15px;

	object-fit: contain;
	box-shadow: 0 0 12px #000a;
  
	background-color: #316f31;
	border-color: #47a347;
}

.Play__JoinQueueButton:hover {
	background-color: #47a347;
}

.Play__LeaveQueueButton {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 15px 30px;
  	font-size: 2rem;

	object-fit: contain;
	box-shadow: 0 0 12px #000a;
	margin: 30px auto 15px;
  
	background-color: #6f313c;
	border-color: #994353;
}

.Play__LeaveQueueButton:hover {
	background-color: #994353;
}

.Play__SelectorSection {
	text-align: center;
	margin: 5vh auto 10vh;
  }
  
.Play__Selectors {
	display: flex;
	justify-content: space-around;
	margin-top: 3vh;
  }
  
.Play__PaddleSelector,
.Play__BackgroundSelector,
.Play__BallSelector {
	width: 30%;
}

select {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	font-size: 1rem;
	padding: 0.5em 1em;
	margin-top: 0.3em;
	margin-bottom: 0.2em;
	cursor: pointer;
	appearance: none;
	/*  safari  */
	-webkit-appearance: none;
  	/* other styles for aesthetics */
  	background-color: var(--bg-color-5);
  	border: 1px solid var(--current-option-text);
  	border-radius: 0.25rem;
  	color: var(--text-normal);
  	cursor: pointer;

  	background-image:
		linear-gradient(45deg, transparent 50%, var(--current-option-text) 50%),
		linear-gradient(135deg, var(--current-option-text) 50%, transparent 50%);
  	background-position:
		calc(100% - 20px) calc(1em),
		calc(100% - 15px) calc(1em);
  	background-size:
		5px 5px,
		5px 5px;
  	background-repeat: no-repeat;
  }

select:focus {
	outline: 0;
}

.Play__ButtonAnimation {
	transition: transform 0.2s ease-in-out;
}
  
.Play__ButtonAnimation:hover {
	transform: scale(1.02);
}

.Play__InQueueText {
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.25em;
}

.Play__Ellipsis {
	display: flex;
	justify-content: center;
	align-items: center;
}
  
.Play__Dot {
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 5px;
	animation: blink 2.1s infinite;
	animation-delay: calc(0.5s * var(--dot-index));
}
  
@keyframes blink {
	0%, 100% {
	  opacity: 1;
	}
	50% {
	  opacity: 0.5;
	}
}

.Play__ReadyCheckText {
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.2em;
}

.Play__ReadyButton {
	display:flex;
	justify-content: center;
	align-items: center;
	
	padding: 15px 30px;
	font-size: 2rem;
	margin: 5px auto 15px;
	
	object-fit: contain;
	box-shadow: 0 0 12px #000a;
	  
	background-color: #316f31;
	border-color: #47a347;
}
	
.Play__ReadyButton:hover {
	background-color: #47a347;
}

.Play__NotReadyButton {
	display:flex;
	justify-content: center;
	align-items: center;
	
	padding: 15px 30px;

	font-size: 2rem;
	margin: 5px auto 15px;
	
	object-fit: contain;
	box-shadow: 0 0 12px #000a;

	background-color: #6f313c;
	border-color: #994353;
}

.Play__NotReadyButton:hover {
	background-color: #994353;
}

.Play__Instructions {
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2.5em;
	opacity: 60%;

	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/*
** Ladder ======================================================================
*/

.Ladder__Container {
	max-height: 400px;
	display: flex;
	justify-content: center;
	overflow-y: auto;
	overflow-x: hidden;
}

.Ladder__Item {
	display: flex;
	flex-direction: row;
}

.Ladder__Item>div {
	white-space: nowrap;
	padding: 2px;
	padding-left: 12px;
	display: flex;
	align-items: center;
}

.Ladder__Item>div:first-child {
	width: 50px;
	border-right: 1px solid var(--bg-color-5);
}

.Ladder__Item>div:nth-child(2) {
	flex: 1;
	width: 250px;
	border-right: 1px solid var(--bg-color-5);
}

.Ladder__Title {
	text-align: center;
	font-size: 1.2rem;
}

.Ladder__List {
	max-width: 500px;
	width: 100%;
	background: var(--bg-color-3);
	border: 1px solid var(--bg-color-5);
	margin-top: 20px;
	border-radius: 7px;
	overflow-x: auto;
	box-shadow: 0 0 8px -3px #0008;
	font-size: 1.2rem;
}

.Ladder__List img {
	height: 36px;
	width: 36px;
	object-fit: cover;
	border-radius: 7px;
	margin-right: 10px;
}

.Ladder__List > * {
	margin: 0;
	border: 1px solid #0000;
	padding: 2px;
	animation: fadein .15s ease-in-out;
	background: var(--bg-color-4);
	border-radius: 0px;
	color: var(--text-normal);
	overflow-x: visible;
	min-width: fit-content;
	transition: filter .1s, color .2s, text-shadow .2s, border .2s;
}

.Ladder__ListHead {
	border-bottom: 1px solid var(--text-faint);
	padding-top: 5px;
	padding-bottom: 5px;
}

.Ladder__List > *:nth-child(odd) {
	background: var(--bg-color-3);
}

.Ladder__List > *:first-child {
	border-radius: 7px 7px 0 0;
}

.Ladder__List > *:last-child {
	border-radius: 0 0 7px 7px;
}

.Ladder__List > *:first-child:last-child {
	border-radius: 7px;
}

.Ladder__List > * > * {
	font-size: .86rem;
	border: 2px solid #0000;
	margin: -1px;
	padding: 5px;
	z-index: 50;
}
.Ladder__List > * > *:first-child {
	border-radius: 7px 0 0 7px;
}
.Ladder__List > * > *:last-child {
	border-radius: 0 7px 7px 0;
	padding-right: 10px;
}

.Play__BackToMenu {
	display:flex;
	justify-content: center;
	align-items: center;

	padding: 5px 10px;
	font-size: 1.2rem;
	margin: 25px auto 25px;
	object-fit: contain;
	box-shadow: 0 0 12px #000a;
}