.Sandbox__UserList {
	margin: 50px;
	border: 1px solid var(--bg-color-4);
	border-radius: 7px;
	background: var(--bg-color-2);
	padding: 0 20px 15px;
	position: relative;
}

.Sandbox__Scrollable {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 10px;
	margin-right: -10px;
}

.Sandbox__UserItem {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 1fr 2fr 3fr;
}
.Sandbox__UserItem:visited {
	color: var(--text-normal);
}

@media (max-width: 850px)
{
	.Sandbox__UserItem {
		grid-auto-flow: column;
		grid-template-rows: 1fr 1fr 1fr;
	}
}