.Header {
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px;
	color: var(--text-accent);
	background: var(--bg-color-3);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 12px #000;
	user-select: none;
	z-index: 100;
}

.Header__Title {
	display: flex;
	align-items: center;
	gap: 10px;
	transition: filter .1s;
	filter: drop-shadow(3px 3px 0px #000);
}

.Header__Title:hover {
	filter: drop-shadow(3px 3px 1px #000) drop-shadow(0 0 10px #fff8);
}

.Header__Title:active {
	filter: none;
}

.Header__Logo {
	height: 28px;
}

.Header__TitleText {
	color: var(--text-middle);
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 700;
}

.Header__Right {
	display: flex;
	align-items: center;
	gap: 12px;
	border-radius: 9px;
	padding-left: 8px;
}
.Header__Right:hover {
	cursor: pointer;
	background-color: var(--bg-color-4);
}

.Header__Username {
	font-weight: 600;
}

.Header__UserInfo {
	position: relative;
}

.Header__UserInfoContainer {
	height: 42px;
}

.Header__UserInfo>div>img {
	height: 42px;
	width: 42px;
	object-fit: cover;
	border-radius: 9px;
}
.Header__UserInfo>div>img:hover {
	cursor: pointer;
}

.Header__Popup {
	position: fixed;
	right: 12px;
	top: 64px;
	background: #262c4040;
	backdrop-filter: blur(8px);
	padding: 4px;
	border-radius: 12px;
	border: 1px solid var(--bg-color-5);
	width: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}
.Header__Popup>hr {
	width: 80%;
	margin: 0;
}

.Header__PopupLink {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	color: var(--text-normal);
	padding: 4px 24px;
	border-radius: 7px;
}
.Header__PopupLink.logged:visited {
	color: var(--text-normal);
}
.Header__PopupLink.logged:hover {
	background: #464c6080;
	color: var(--text-accent);
}

.Header__PopupLink>img {
	height: 64px;
	width: 64px;
	object-fit: cover;
	border-radius: 14px;
}

.Header__PopupUsername {
	font-weight: 600;
}

.Logout {
	height: 18px;
	margin: 12px;
}

.Header__LogAs {
	margin-top: -8px;
}