body {
  background: #001a30;
  display: flex;
  justify-content: center;

}

.App {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  color: #0ff;
  font-weight: bold;
  font-style: italic;
  padding: 40px;
  border-radius: 15px;
  border: #024 solid 5px;
  transition: .2s;
  text-shadow: 0 0 16px #0ff7;
}
.App:hover {
  background-color: #024;
  text-shadow: 0 0 16px #0ffd;
}